body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(184, 70, 202, 0.15),
    rgba(139, 92, 246, 0.1),
    rgba(67, 56, 202, 0)
  );
  background-color: #09090b;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100vw; 
  height: 100%;
  overflow-y: auto;
}

li{
    list-style-type: disc;
}
